.wrapper{
    width: 1440px;
    display: flex;
    padding: 50px;
}

.thumbnail {
    display: flex;
}

.thumbnailImage {
    width: 75.85px;
    height: 82px;
    border-radius: 10px;
}

.songDetails {
    padding: 20px 0;
}

.songName {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.albumName {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}
