.wrapper{
    margin: 32px;
    width: 1353px;
}

.divider{
    background-color: var(--color-primary);
    margin-left: -32px;
    margin-right: -32px;
    margin-bottom: 32px;
    margin-top: 32px;
    width: 1440px;
}